
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;

}

.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 100px;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
     margin-bottom: 50px;
}
.banner-title{
   font-weight: 700;
    font-size: 4rem;
}
.banner-description{
     color: #727272;
     font-weight: 400;
     font-size: 1rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
   
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}
.main{
    width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.image{
    width: 100%;
}
.teams{
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#quick{
    font-weight: 500;
    
}
.features{
    max-width: 530px;
    margin-left: 130px;
}
.feature-title{
    font-size: 2.8rem;
}
.feature{
    color: #FF900E;
}
.our{
    
    color: #131313;
}
.feature-descriptiion{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;

}
.fact{
    
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-name{
    font-weight: 600;
    font-size: 1.3rem;
    color: #727272;
    margin-top: 10px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-description{
    max-width: 540px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 45px;
}
.some-facts{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}
.sponsors-section{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}
/* responsive design */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links, 
    .features,
    .teams{
        flex-direction: column;
    }
    .teams-image-container, 
    .fact-container,
    .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .features{
        margin-left: 20px;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .features{
        margin-left: 50px;
    }
    .sponsors-companies{
        justify-content: center;
        gap: 50px;
        margin-left: 50px;
    }
}